In [3]:
import pandas as pd

crab_data = pd.read_csv('CrabAgePrediction.csv')
crab_data.tail()

,Sex,Length,Diameter,Height,Weight,Shucked Weight,Viscera Weight,Shell Weight,Age
3888,F,1.4625,1.1375,0.3250,24.819987,11.651644,5.854172,6.378637,8
3889,F,1.5500,1.2125,0.4375,34.458817,15.450477,7.172423,9.780577,10
3890,I,0.6250,0.4625,0.1625,2.012815,0.765436,0.524466,0.637864,5
3891,I,1.0625,0.7750,0.2625,10.347568,4.507570,2.338834,2.976698,6
3892,I,0.7875,0.6125,0.2125,4.068153,1.502523,1.346601,1.417475,8

In [5]:
crab_data.columns

Index(['Sex', 'Length', 'Diameter', 'Height', 'Weight', 'Shucked Weight',
       'Viscera Weight', 'Shell Weight', 'Age'],
      dtype='object')

In [7]:
features = ['Sex', 'Length', 'Diameter', 'Height', 'Weight']
 
X = crab_data[features]

y = crab_data.Age

X.head()

  Sex  Length  Diameter  Height     Weight
0   F  1.4375    1.1750  0.4125  24.635715
1   M  0.8875    0.6500  0.2125   5.400580
2   I  1.0375    0.7750  0.2500   7.952035
3   F  1.1750    0.8875  0.2500  13.480187
4   I  0.8875    0.6625  0.2125   6.903103